  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    height: 100vh;
    width: 100vw;
    background-color: #212121;

    place-items: center;
    place-content: center;
  }

  .mainbox {
    height: 475px;
    width: 475px;
    position: relative;
    overflow: hidden;
    display: grid;

    place-items: center;

  }

  .container {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 2px;
     
  }

  .news,
  .tech {
    background-color: #ef8354;
    color: #2d3142;
  }

  .fetaure,
  .openoin {
    background-color: #2d3142;
    color: #f4f4f4;
  }

  .blog {
    background-color: #f4f4f4;
    color: #2d3142;
  }

  .container div {
    display: grid;
    place-self: center;
    place-items: center;
    height: 95%;
    width: 95%;
    font-weight: 800;
    font-size: 14px;
    transition: height .3s, width .3s, font-size .3s;
  }

  .fetaure {

    grid-area: 1/1/3/3;
  }

  .openoin {

    grid-area: 3/2/4/4;
  }

  .container div:hover {
    height: 90%;
    width: 90%;
    font-size: 12px;
  }