*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #081810;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbox{
    height: 400px;
    width: 400px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #242832;
     gap:14px;
   
}
.line{
    height: 1px;
    width: 200px;
    background: #7e8590;
     
}
button{
    width: 180px;
    background-color: #242832;
    border: none;
    border-radius: 5px;
    color: #7e8590;
  font-weight:800;
  font-size:20px;
  text-align: start;
  margin: 0px 10px;
  padding: 2px;
  transition:  all .5s linear ;
}
button:not(:nth-child(5)):hover{
    background-color: #5353ff;
    color: white;
   font-size: 21px;
   transition:  all 1s linear ;
}
button:nth-child(5):hover{
background-color: #8e2a2a;
font-size: 21px;
transition:  all 1s linear ;
}