 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    height: 100vh;
    width: 100vw;
    background: #000;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .mainbox{
    height: 400px;
    width: 400px;
    background:#101006 ;
    position: relative;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
 }


 .buttonbody{
   height: 70px;
   width: 120px;
   border-radius:  60px;
   background: transparent;
   box-shadow: 3px 3px 10px #5e5e5e , -3px -3px 10px #5e5e5e;
   display: flex;
   justify-content: start;
   align-items: center;
 }

 .circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #5e5e5e;
margin-left: 10px;
display: flex;
justify-content: center;
align-items: center;

 }

 .triangle{
height:25px ;
width: 25px;
background-color:#fefefe ;

   clip-path: polygon(50% 45%, 0% 0, 0 100%);
   margin-left: 15px;
 }

 .square{
   height: 25px;
   width: 25px;
   background-color:#fefefe ;
   border-radius: 5px;
 }
