  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 body {
     height: 100vh;
     width: 100vw;
     background: #212121;

     color: #fff;
     display: grid;
     place-items: center;
 }

 .mainbox {
     height: 500px;
     width: 500px;

     position: relative;
     overflow: hidden;
     display: grid;
     grid-template: repeat(12, 1fr)/repeat(12, 1fr);
     place-items: center;


 }

 .title {
     grid-area: 4/3/6/11;
     color: #2563eb;
     font-size: 33px;
     font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .middle-item {
     grid-area: 5/2/8/12;
   width:90%;
     color: #2563eb;
     text-align: center;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:14px;
        
 }

 button {
     grid-area: 8/6/9/8;
     height: 110%;
     width: 170%;
     background-color: #2563eb;
     color: #ffffff;
     border: none;
     border-radius: 10px;
     transition: background-color .3s;
      font-size:15px;
    
 }

 button:hover{
    background-color: #1e40af;
 }