*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color:  #060933;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox{
    height: 400px;
    width: 400px;
    background-color:  #212121;
}

.box{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: #00BFA6;
    color: #FFF;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    border: 1px solid #00BFA6;
    transition: all .5s;
}

.box:hover{
    background-color:#FFF ;
    color:#00BFA6 ;
    border: 1px dashed #00BFA6;
}

 .box:active{
    background-color: #87dbd0;
 }