* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: #332525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox {
    height: 400px;
    width: 400px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    height: 70px;
    width: 70px;
    background-color: #ffffff;
    border-radius: 5px;
      overflow: hidden;
    position: relative;
}

.sun {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ff3d00;
    position: absolute;
    top: 10px;
    left: 10px;
    animation: sun 2s linear infinite;
}

@keyframes sun{
    0%{
         left: 0px;
    }
    50%{
        left: 100px;
    }
    75%{
         left: 70000px;
           
    }
}
.mountain{
    display: flex;
    
}


.smallmountain {
    height: 70px;
    width: 70px;
    background-color: #ff9371;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    position: absolute;
    top: 5px;
    left: -10px;
    z-index: 100;
    animation: mountain 2s linear infinite;
}

@keyframes mountain{
    50%{
        top: 20px;    
    }
}

.bigmountain {
    height: 150px;
    width: 100px;
    background-color: #ff3d00;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    position: absolute;
    top: -40px;
    left: 10px;
    z-index: 99;
    animation: mountain 2s linear infinite;
}
