  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    place-items: center;
    place-content: center;
  }

  .mainbox {
    height: 475px;
    width: 475px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template: 1fr/1fr;
    place-items: center;
  }

  .container {
    background-color: #ffffff;
    height: 75%;
    width: 75%;
    border-radius: 10px;
    margin-top: 5px;
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    margin-bottom: -20px;
    transition: margin-bottom .4s;
  }

  .logo {
    grid-area: 1/2/3/3;
    background-color: #4a90e2;
    border-radius: 50%;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    height: 80px;
    width: 80px;
    place-self: center;
    display: grid;
    place-items: center;

  }

  .name {
    grid-area: 2/1/3/13;
    place-self: end center;
    height: 30%;
    color: #2d3748;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .role {
    grid-area: 3/1/4/13;
    place-self: start center;
    color: #4a90e2;
    font-size: 13px;
  }

  .bottom-div {
    grid-area: 3/1/5/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

  }

  .projects,
  .followers,
  .ratings {
    background-color: #2d3748;
    height: 55%;
    width: 80%;
    border-radius: 10px;
    display: grid;
    place-items: center;
    gap: 5px;
    position: relative;
  }

  .projects {
    justify-self: end;
  }

  .ratings {
    justify-self: start;
  }

  .projects p:nth-child(1),
  .followers p:nth-child(1),
  .ratings p:nth-child(1) {
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: bold;
    place-self: end center;
    transition: transform .4s;
  }


  .projects p:nth-child(2),
  .followers p:nth-child(2),
  .ratings p:nth-child(2) {
    font-size: .8rem;
    color: #4a90e2;
    place-self: start center;
    opacity: 1;
    transition: transform .4s, opacity .4s;
  }

  .projects p:nth-child(3),
  .followers p:nth-child(3),
  .ratings p:nth-child(3) {
    grid-row: 1/-1;
    align-self: center;
    font-size: .8rem;
    color: #ffffff;
    text-align: center;
    opacity: 1;
    transform: rotate3d(1, 0, 0, 90deg);
    transition: transform .4s, opacity .4s;
    position: absolute;
    top: 30px;
    width: 80%;
  }

  .projects:hover p:nth-child(1),
  .followers:hover p:nth-child(1),
  .ratings:hover p:nth-child(1) {
    transform: rotate3d(1, 0, 0, 90deg);
  }

  .projects:hover p:nth-child(2),
  .followers:hover p:nth-child(2),
  .ratings:hover p:nth-child(2) {
    transform: translate(0, -20px);
    opacity: 0;
  }

  .projects:hover p:nth-child(3),
  .followers:hover p:nth-child(3),
  .ratings:hover p:nth-child(3) {
    transform: rotate3d(1, 0, 0, 0deg);
    place-self: center;

  }

  .container:hover {
    margin-bottom: 0px;
  }