*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #10484b;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox{
    height: 400px;
     width: 400px;
     background-color: #212121;
     position: relative;
}

 #text{
    border: none;
    outline: none;
    padding: 9px 7px;
   border-radius:5px;
   font-size:17px;
   color:#555;
   background-color:#FFF;
 }

   #text:focus{
    outline: 3px solid #007bff;
 }