*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color:#1e0a25 ;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox{
    height: 400px;
    width: 400px;
    background-color: #212121;
    position: relative;
}
p{
    color: #FFF;
    padding: 5px;
    background-color: #000;
      font-size:15px;
    position: absolute;
    top: 135px;
    left: 68px;
  }
#inbox{
    padding: 15px 12px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 8px 8px 1px #000;
    z-index: 200;
}
  #inbox:focus{
     border: 2px solid #4a90e2;
      transition: border .5s;
      font-weight: bold;
  }
  #inbox:focus::placeholder{
    color: transparent;
  }



  #inbox:focus ~ p {
    background-color: #4a90e2;
    transition: background-color .5s;
}


  .bg{

    
    height: 52px;
    width: 270px;
    position: absolute;
    background-color: #4a90e2;
    top: 185px;
    left: 75px;
    z-index: 199;
  }
 